.swiper-container{
    height: 450px;
    width: 90%;
    margin: 15px auto;
    border: 2px solid #324B4E;
    color: #fff;
}

.swiper-slide{
    display: flex;
    flex-direction: column;
    background-size: cover;
    padding: 100px 0 0 80px;
}

.swiper-slide:nth-child(1){
    background-image: url("../../assets/image-1.jpg");
    background-position: top center;
}

.swiper-slide:nth-child(2){
    background-image: url("../../assets/image-2.jpg");
    background-position: center;
}

.swiper-slide:nth-child(3){
    background-image: url("../../assets/image-3.jpg");
    background-position: center;
}

.swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    margin: 0 10px !important;
    background: rgb(241, 241, 241) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    background: #324B4E !important;
}

